@model MyRental.Core.ViewModel.RoomListViewModel
@{ 
    ViewBag.Title = "Rooms";
}

<h2>Rooms</h2>

<div class="col-md-2">
    <h4>Filter by Type</h4>
    <div class="list-group">
        @Html.ActionLink("All", "Index", null, new { @class = Request["Type"] == null ? "list-group-item active" : "list-group-item" })
        @foreach (var type in Model.TypeList)
        {
            @Html.ActionLink(type.Type, "Index", new { Type = type.Type }, new { @class = Request["Type"] == type.Type ? "list-group-item active" : "list-group-item" })
        }
    </div>
</div>
<div class="col-md-10">

    @foreach (var item in Model.Room)
    {
        <div class="col-md-3" style="height:300px;padding:10px;margin:10px;border:solid thick whitesmoke">
            <div class="col-md-12">
                <img class="img" style="height:100px;width:175px" src="~/Content/RoomImages/@item.Image" />

            </div>
            <div class="col-md-12">
                <strong>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</strong>
            </div>
            <div class="col-md-12">
                <p>@item.Description</p>
            </div>
            <div class="col-md-12">
                <p>@item.Price</p>
            </div>
            <div class="col-md-12">
                <a href="#" class="btn btn-default">Reserve</a>
            </div>
        </div>
    }
</div>
<div class="col-md-12 clearfix"></div>